/* global.css */
/* Apply border-box sizing to all elements for consistent box model */
* {
    box-sizing: border-box;
}

/* Base font size for the HTML document */
html {
    font-size: 1.25em;
}

/* Font settings for the body */
body {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}

/* Heading 2 styles */
h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #2b2b2b;
}

/* Paragraph styles */
p {
    font-weight: 400;
    margin-bottom: 1.5rem;
    line-height: 1.8;
    hyphens: auto; /* Allows text to break at appropriate places */
}

/* Anchor tag styles */
a {
    color: #63537d;
    text-decoration: none;
}
a:hover,
a:focus {
    transform: scale(1.05);
    box-shadow: 0 0 0 2px #63537d inset;
    background-color: #57496e;
    outline: 2px solid #63537d;
}

/* Wrapper styles for centering content */
.wrap {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Header styles */
header {
    background: #57496e;
    color: #fff;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

/* Flexbox layout for header content */
.header--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo styles in the header */
.header--logo a {
    font-size: 1.25rem;
    color: #fff;
}
.header--logo a:hover,
.header--logo a:focus {
    color: #ddd;
    text-decoration: none;
    outline: 2px dashed #ddd;
}

/* List item styles within the header */
header li {
    font-size: 0.9rem;
}

/* Navigation link styles within the header */
header nav a {
    color: #fff;
}
header nav a:hover,
header nav a:focus {
    color: #ccc;
    outline: 2px dashed #ccc;
}

/* Styles for signed-in user list items in the header */
.header--signedin li {
    text-align: right;
    line-height: 1.25;
}

/* Styles for signed-out user list items in the header */
.header--signedout li {
    display: inline-block;
    margin-left: .5rem;
}

/* Styles for course modules */
.course--module {
    background: #7c689b;
    border-radius: .5rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    display: block;
}

/* Course label styles */
.course--label {
    color: #fff;
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: .25rem;
}

/* Course title styles */
.course--title {
    color: #fff;
    font-weight: 700;
    font-size: 1.25rem;
}

/* Add module styles for course modules */
.course--add--module {
    background: #ddd9e4;
    color: #57496e;
    font-weight: 300;
    font-size: 1.25rem;
}
.course--add--module:focus,
.course--add--module:hover {
    background: #e9e6ef;
    color: #111;
}

/* Styles for the add icon in course add module */
.course--add--title .add {
    width: 20px;
    height: auto;
    margin-right: 5px;
    fill: #57496e;
}

/* Course detail title styles */
.course--detail--title {
    padding-bottom: .25rem;
    border-bottom: 1px solid #888;
    margin: 3rem 0 .5rem;
    font-size: .9rem;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Course name styles */
.course--name {
    font-size: 2rem;
    margin-bottom: .5rem;
    font-weight: 700;
    color: #47395e;
}

/* Course detail list styles */
.course--detail--list {
    font-weight: 300;
    margin: 0 0 1.5rem 1rem;
    line-height: 1.5;
}

/* Actions bar styles */
.actions--bar {
    background: #e9e5f0;
    padding: 1rem 0;
    margin: -2rem 0 2rem;
}

/* Validation errors styles */
.validation--errors {
    background: #e9e5f0;
    padding: 1rem;
    border-radius: .5rem;
    margin-bottom: 2.5rem;
}
.validation--errors h3 {
    color: #800;
    font-size: 1.25rem;
    margin-bottom: .5rem;
}
.validation--errors ul {
    font-weight: 300;
    margin-left: 1rem;
    line-height: 1.25;
}
.validation--errors li {
    margin-bottom: .5rem;
}
.validation--errors li:last-child {
    margin-bottom: 0;
}
.error {
    color: #800;
    background:#f9d6d5;
    border: 1px solid #f1a1a1;
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

/* Form centered styles */
.form--centered {
    max-width: 510px;
    margin: 0 auto;
    padding: 0 1rem;
}
form {
    margin-bottom: 2.5rem;
}

/* Label styles */
label {
    display: block;
    font-weight: 300;
    margin-bottom: .25rem;
}

/* Input and textarea styles */
input, textarea, select {
    display: block;
    width: 100%;
    color: #333;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid #8c789b;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
}
textarea {
    min-height: 300px;
}

input + p,
textarea + p {
    font-size: 0.875rem;
    color: #555;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}

input[aria-required="true"] + p,
textarea[aria-required="true"] + p {
    font-weight: 600;
}

input:focus + p,
textarea:focus + p {
    color: #63537d;
}

/* Button styles */
.button {
    background: #7c689b;
    color: #fff;
    font-size: 1rem;
    padding: .75rem 1.5rem;
    border: none;
    margin: 0 0 0.5rem;
    display: block;
    width: 210px;
    text-align: center;
    border-radius: 0.5rem;
    font-weight: bold;
    transition: background 0.2s, transform 0.2s;
}
.button:hover,
.button:focus {
    background: #63537d;
    transform: scale(1.05);
    outline: 2px solid #63537d;
}
.button:last-child {
    margin-bottom: 0;
}
.button:not(.button-secondary):hover {
    background: #63537d;
    cursor: pointer;
}

/* Secondary button styles */
.button-secondary {
    color: #7c689b;
    background: none;
    box-shadow: 0 0 0 2px #7c689b inset;
    transition: box-shadow 0.2s, color 0.2s;
}
.button-secondary:hover,
.button-secondary:focus {
    background: #f4f1f9;
    color: #63537d;
    box-shadow: 0 0 0 2px #63537d inset;
    cursor: pointer;
}

 /* Sign-out button styles */
.button-signout {
    background: none;
    font-size: .8rem;
    border: 0;
    display: block;
}
.button-signout-secondary {
    color: #bca6dc;
    transition: box-shadow 0.2s, color 0.2s;
}
.button-signout:hover {
    color: #fff;
    cursor: pointer;
}

/* Visually hidden elements */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}

/* Screen-reader only element styles */
.sr-only {
    visibility: hidden;
    font-size: 0.75rem;
    color: #666;
}

/* Focus and hover styles */
input:focus, button:focus, .button:focus, textarea:focus {
    border: none;
    border-radius: 0;
    outline: 2px solid #332a40;
}
input:focus, textarea:focus {
    outline: 2px solid #7c689b;
    background: #f4f1f9;
}
a:hover {
    text-decoration: none;
    /* color: #57496e; */
}
.button-secondary:hover {
    color: #57496e;
    box-shadow: 0 0 0 2px #57496e inset;
    background: #f4f1f9;
}

/* Focus styles for interactive elements */
input:focus,
button:focus,
textarea:focus,
select:focus {
    outline: 2px solid #57496e;
    outline-offset: 2px;
}

/* Media query for screen sizes 600px and above */
@media screen and (min-width: 600px) {
    .header--signedin li {
        display: inline-block;
        margin-left: .5rem;
        line-height: 1;
    }
    .main--grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.5rem;
        grid-auto-rows: 1fr;
    }
    /* .form--centered {
        padding: 0.5rem;
        max-width: 100%;
    } */
    .button {
        width: 30%;
    }
}

/* Media query for screen sizes 800px and above */
@media screen and (min-width: 800px) {
    .main--grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .main--flex {
        display: flex;
    }
    .main--flex div:first-child {
        flex-basis: 62%;
    }
    .main--flex div:last-child {
        margin-left: 8%;
        flex-basis: 30%;
    }
    .course--detail--title {
        margin: 1.5rem 0 .5rem;
    }
    .button {
        margin: 0 .5rem 0 0;
        display: inline-block;
    }
}
